# dependencies
./next.js-app/node_modules
./node-app/node_modules
./next.js-app/.pnp
./next.js-app/.pnp.*
./next.js-app/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
./next.js-app/coverage

# next.js
.next/
./next.js-app/.next/
./next.js-app/out/

# production
./next.js-app/build

# misc
./next.js-app/.DS_Store
./next.js-app/*.pem

# debug
./next.js-app/npm-debug.log*
./next.js-app/yarn-debug.log*
./next.js-app/yarn-error.log*
./next.js-app/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
./next.js-app/.env*
./node-app/.env*

# vercel
./next.js-app/.vercel

# typescript
./next.js-app/*.tsbuildinfo
./next.js-app/next-env.d.ts

# data
./next.js-app/src/app/api/wake/data.ts
./node-app/src/data.ts

